@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: SecularOne;
    src: url("../public/SecularOne-Regular.ttf");
}
@font-face {
    font-family: Roboto;
    src: url("../public/Roboto/Roboto-Light.ttf");
}